.boxes {
    display: flex;
}


.dobav {
    justify-items: center;
}


.dobav2 {
    margin-right: 100px;
    justify-content: center;
}


.nenaid {
    margin-left: 30px;
}

.box {
    margin-left: 150px;
    margin-top: 25px;
    padding: 100px;
    font-weight: lighter;
    border: 1px solid;
}


.box2 {
    margin-left: 25px;
    margin-top: 25px;
    padding-left: 100px;
    padding-top: 100px;
    font-weight: lighter;
    border: 1px solid;
}


.title {
    display: flex;
    width: 333px;
    padding-bottom: 10px;
}


.price {
    width: 333px;
    padding-bottom: 20px;
}


#button {
    background-color: green;
    color: white;
    margin-top: 10px;
    padding: 5px;
    border-color: green;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}


#button2 {
    background-color: grey;
    color: white;
    padding: 5px;
    margin-left: 10px;
    border-color: grey;
    border-radius: 5px;
    cursor: pointer;
}