.box1 {
    display: inline-block;
    position: relative;
    width: 250px;
    background: red;
    font-weight: bold;
    font-size: 20px;
}

.box2 {
    display: inline-block;
    position: relative;
    width: 250px;
    background: orange;
    font-weight: bold;
    font-size: 20px;
}

.box3 {
    display: inline-block;
    position: relative;
    width: 250px;
    background: lightgreen;
    font-weight: bold;
    font-size: 20px;
}

.box4 {
    display: inline-block;
    position: relative;
    width: 250px;
    background: lightblue;
    font-weight: bold;
    font-size: 20px;
}

.info-box {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}